<a
  class="tw-block tw-h-full tw-overflow-hidden tw-rounded tw-border tw-border-solid tw-border-secondary-600 tw-transition-all xl:tw-w-64 hover:tw-scale-105 hover:tw-no-underline focus:tw-outline-none focus:tw-ring focus:tw-ring-primary-700 focus:tw-ring-offset-2"
  [href]="linkURL"
  [rel]="[externalURL ? 'noopener noreferrer' : null]"
>
  <div
    class="tw-flex tw-h-36 tw-bg-secondary-100 tw-items-center tw-justify-center tw-py-2 tw-px-6 lg:tw-py-4 lg:tw-px-12"
  >
    <div class="tw-flex tw-items-center tw-justify-center tw-h-28 tw-w-28 lg:tw-w-40">
      <img [src]="image" alt="" class="tw-block tw-mx-auto tw-h-auto tw-max-w-full tw-max-h-full" />
    </div>
  </div>
  <div class="tw-p-5">
    <h3 class="tw-mb-4 tw-text-lg tw-font-semibold">{{ name }}</h3>
    <p class="tw-mb-0 tw-font-bold">{{ secondaryText }}</p>
  </div>
</a>
