<form [formGroup]="formGroup" [bitSubmit]="submit">
  <bit-dialog>
    <h1 bitDialogTitle>
      {{ (add ? "addStorage" : "removeStorage") | i18n }}
    </h1>
    <ng-container bitDialogContent>
      <div class="tw-grid tw-grid-cols-2">
        <bit-form-field>
          <bit-label>{{ (add ? "gbStorageAdd" : "gbStorageRemove") | i18n }}</bit-label>
          <input
            bitInput
            type="number"
            formControlName="storageAdjustment"
            min="0"
            max="99"
            step="1"
            required
          />
          <bit-hint *ngIf="add">
            <strong>{{ "total" | i18n }}:</strong>
            {{ formGroup.get("storageAdjustment").value || 0 }} GB &times;
            {{ storageGbPrice | currency: "$" }} = {{ adjustedStorageTotal | currency: "$" }} /{{
              interval | i18n
            }}
          </bit-hint>
        </bit-form-field>
      </div>
      <div class="tw-grid tw-grid-flow-col">
        <bit-hint>{{ (add ? "storageAddNote" : "storageRemoveNote") | i18n }}</bit-hint>
      </div>
    </ng-container>
    <ng-container bitDialogFooter>
      <button type="submit" bitButton bitFormButton buttonType="primary">
        {{ "submit" | i18n }}
      </button>
      <button type="button" bitButton buttonType="secondary" bitDialogClose>
        {{ "cancel" | i18n }}
      </button>
    </ng-container>
  </bit-dialog>
</form>
<app-payment [showMethods]="false"></app-payment>
